@import "variables"
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700|Roboto:100,300,400,700&subset=latin-ext')

@font-face
  font-family: 'Bazar'
  src: url('../font/bazar/Bazar.woff') format('woff'), url('../font/bazar/Bazar.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: mensch
  src: url("../font/mensch/mensch-wf.woff") format("woff")

@font-face
  font-family: mensch-bold
  src: url("../font/mensch/mensch-bold-wf.woff")

@font-face
  font-family: mensch-inline
  src: url("../font/mensch/mensch-inline-wf.woff")

@font-face
  font-family: mensch-thin
  src: url("../font/mensch/mensch-thin-wf.woff")

h1, h2, h3, h4
  font-family: Bazar, sans-serif
  text-transform: uppercase
  color: $color-almost-black
  text-shadow: 2px 2px 0 $color-beige, 4px 4px 0 $color-almost-black
  margin: 0
  letter-spacing: 0.07em
  font-weight: 300

h2
  font-size: 5em
  text-align: center
  padding-top: 50px

p
  font-family: "Roboto Slab", sans-serif
  color: $color-almost-black

.section-subtitle
  font-family: Oswald, sans-serif
  font-size: 1em
  text-transform: uppercase

