// VARIABLES
$color-yellow: #fff0ce
$color-blue: #7ac0c0
$color-orange: #e68966
$color-red: #D35244
$color-beige: rgb(246, 237, 216)
$color-gray-dark: #4c5057
$color-gray-light: #e3e0dd
$color-almost-black: #383A3C
$color-black-opacity: rgba(0, 0, 0, 0.5)
$color-white-opacity: rgba(255, 255, 255, 0.5)
$font-primary: 'Roboto Slab', sans-serif
$font-decoration: Bazar, sans-serif


// MIXINS
@mixin shadow-box()
  box-shadow: 0 2px 4px rgba(0, 0, 0, .3)
