@import url(https://fonts.googleapis.com/css?family=Bungee:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

body {
	background-color: #DDD;
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

h1, h2 {
	font-family: 'Bungee', cursive;	
}

header {
	background: url(https://images.pexels.com/photos/60006/spring-tree-flowers-meadow-60006.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb) no-repeat 0 40%;
	margin: 0 auto;
	max-width: 1200px;
	padding: 40px;
}

header h1 {
	font-size: 36px;
	font-weight: bold;
	text-transform: uppercase;
}

header h1, header p {
	color: #D07A03;
	text-align: center;
}

.container {
	margin: 0 auto;
  width: 700px;
}

section {
	padding: 0 20%;	/*top&bottom right&left*/
}

.about h2 {
	color: #2A6D03;
	font-size: 28px;
	margin-top: 60px;
}

.interest h2 {
	color: #D07A03;
	margin-top: 40px;
}

footer {
	background-color: #2A6D03;
	margin-top: 60px;
	padding: 30px;
}

footer p {
	color: #DDD;
	text-align: center;
}

footer a {
	color: #D07A03;
	font-weight: bold;
	text-decoration: none;
}

footer a:hover {
	color: #a05802;	
}